<ion-content>

  <div class="container-fluid">
    <div class="content">
      <div class="cabecera">
        <!-- ICONOS DE NOTIFICACIÓN Y MENU DESPLEGABLE-->
        <ion-row class="header-icons" no-padding justify-content-start align-items-start>
          <ion-col class="ion-text-left" size="4">
            <button  class="notif-button">
              <img class="header-button-notif" src="../../assets/imgs/notificacion.svg" alt="notifications-icon">
              <ion-badge color="danger" mode="ios" slot="start">2</ion-badge>
            </button>
          </ion-col>
          <!-- TEXTO DE MOVIMIENTO -->
          <ion-col class="ion-text-center" size="4">
            <h3 style="text-align: center;">Perfil</h3>
          </ion-col>
          <!-- MENU DESPLEGABLE DE LA DERECHA -->
          <ion-col size="4" class="ion-text-right">
            <button  class="notif-button" style="margin-left: 87px;">
              <img class="header-button-menu" src="../../assets/imgs/menu.svg" alt="menu-icon" (click)="openMenu()">
            </button>
          </ion-col>
        </ion-row>
        <!-- ./iconos de notificación y menú desplegable -->
        <div class="c-e-perfil">
            <img src="../../assets/imgs/usuario.png" alt="foto">
            <h4><strong>Juanito Perez</strong></h4>
            <p>Registrado desde 10-10-2020</p>
        </div>
      </div>
    </div>

    <!-- PARTE DE ABAJO -->
    <div class="content-fluid">
      <div class="subcontent">
        <!-- FORMULARIOS -->
        <div class="caja">
          <h4><strong>Información de la cuenta</strong></h4>
          <input class="input" type="text" placeholder="Juanito Perez" disabled/>
          <input class="input" type="text" placeholder="juanito@gmail.com" disabled/>
          <input class="input" type="text" placeholder="**********" disabled/>
          <ion-select style="border-bottom: none;" class="input" placeholder="Idioma">
            <ion-select-option value="Español">Español</ion-select-option>
            <ion-select-option value="Ingles">Ingles</ion-select-option>
          </ion-select>
        </div>

        <div class="caja">
          <h4><strong>Información personal</strong></h4>
          <input class="input" type="text" placeholder="sexo masculino" disabled/>
          <input class="input" type="text" placeholder="Cra 00# 00-00" disabled/>
          <input class="input" type="text" placeholder="Colombia" disabled/>
          <input class="input" type="text" placeholder="Atlantico" disabled/>
          <input class="input" type="text" placeholder="Barranquilla" disabled/>
          <input style="border-bottom: none;" class="input" type="text" placeholder="300 888 9090" disabled/>
        </div>
        
        <div id="boton-e">
          <button id="b-editar" [routerLink]="['/profile']"><strong>Editar</strong></button>
        </div>

      </div>
      <app-tab-bar></app-tab-bar>
    </div>

  </div>
</ion-content>