<div id="bottom-menu">
  <div class="c-button-m"   ><div class="dashboard-tab"></div><span class="title-b-m">Dashboard</span></div>
  <div class="c-button-m"><div class="wallet-tab"></div><span class="title-b-m">Wallet</span></div>
  <div class="c-button-m"><div class="content-home-tab"><div class="home-tab"></div></div><span class="title-b-m">Home</span></div>
  <div class="c-button-m"><div class="perfil-tab"></div><span class="title-b-m">Perfil</span></div>
  <div class="c-button-m"><div class="market-tab"></div><span class="title-b-m">Market</span></div>
</div>
