#bottom-menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: fit-content;
    background: white;
    box-shadow: 0 2px 12px 0 grey;
    border-radius: 20px 20px 0 0;
    -webkit-border-radius: 20px 20px 0 0;
    -moz-border-radius: 20px 20px 0 0;
    -ms-border-radius: 20px 20px 0 0;
    -o-border-radius: 20px 20px 0 0;
    
 
     .c-button-m{
       display: flex;
       flex-direction: column;
       text-align: center;
       justify-content: center;
       outline: none;
       width: 45px;
       margin: 9px 9px;
 
       .title-b-m{
         color: gray;
         font-size: 12px;
       }
 
       .dashboard-tab {
         mask: url(../../../assets/imgs/dashboard.svg) no-repeat;
         -webkit-mask: url(../../../assets/imgs/dashboard.svg) no-repeat;
         background: #644296;
         height: 45px;
         width: 45px;
         margin: 0px auto;
       }
       
       .wallet-tab {
         mask: url(../../../assets/imgs/wallet.svg) no-repeat;
         -webkit-mask: url(../../../assets/imgs/wallet.svg) no-repeat;
         background: #644296;
         height: 45px;
         width: 45px;
         margin: 0px auto;
       }
 
       .content-home-tab{
         background-color: #644296;
         display: flex;
         justify-content: center;
         align-items: center;
         height: 55px;
         width: 55px;
         border-radius: 15px;
         position: relative;
         bottom: 14px;
         -webkit-border-radius: 15px;
         -moz-border-radius: 15px;
         -ms-border-radius: 15px;
         -o-border-radius: 15px;
 
         .home-tab{
           mask: url(../../../assets/imgs/home.svg) no-repeat;
           -webkit-mask: url(../../../assets/imgs/home.svg) no-repeat;
           background: white;
           height: 45px;
           width: 45px;
           margin: 0px auto;
         }
       }
       
     
       .perfil-tab {
         mask: url(../../../assets/imgs/perfil.svg) no-repeat;
         -webkit-mask: url(../../../assets/imgs/perfil.svg) no-repeat;
         background: #644296;
         height: 45px;
         width: 45px;
         margin: 0px auto;
       }
     
       .market-tab {
         mask: url(../../../assets/imgs/market.svg) no-repeat;
         -webkit-mask: url(../../../assets/imgs/market.svg) no-repeat;
         background: #644296;
         height: 45px;
         width: 45px;
         margin: 0px auto;
       }
     }
   }