<ion-content>
  <div class="content">
    <div class="subcontent-1">

    </div>
  
    <div class="subcontent-2">
      <form id="formEditarP"  class="formulario" #formEditarP="ngForm" (ngSubmit)="formEditarPSubmit()">
        <ion-input class="input" type="text" placeholder="Nombre" name="Nombre" #Nombre="ngModel" [(ngModel)]="User.Nombre"></ion-input>
        <ion-input class="input" type="text" placeholder="Apellido" name="Apellido"  #Apellido="ngModel"  [(ngModel)]="User.Apellido"></ion-input>
        <ion-input class="input" type="email" placeholder="Email" name="Email"  #Email="ngModel"  [(ngModel)]="User.Email"></ion-input>
        <ion-select class="input select"  placeholder="Sexo" name="Sexo" #Sexo="ngModel" [(ngModel)]="User.Sexo">
          <ion-select-option value="1">Femenino</ion-select-option>
          <ion-select-option value="2">Masculino</ion-select-option>
          <ion-select-option value="3">Otros</ion-select-option>
        </ion-select>
        <ion-input class="input" type="Direccion" placeholder="Direccion" name="Direccion"  #Direccion="ngModel"  [(ngModel)]="User.Direccion"></ion-input>
        <ion-select class="input select"  placeholder="Seleccionar País" name="Pais" #Pais="ngModel" [(ngModel)]="User.Pais">
          <ion-select-option value="Colombia">Colombia</ion-select-option>
        </ion-select>
        <ion-select class="input select" placeholder="Seleccionar Estado" name="Estado" #Estado="ngModel" [(ngModel)]="User.Estado">
          <ion-select-option value="Atlantico">Atlantico</ion-select-option>
        </ion-select>
        <ion-select class="input select" placeholder="Seleccionar ciudad"  name="Ciudad" #Ciudad="ngModel" [(ngModel)]="User.Ciudad">
          <ion-select-option value="Barranquilla">Barranquilla</ion-select-option >
        </ion-select>
        <ion-input class="input" type="number" placeholder="Teléfono Móvil" name="Tmovil"  #Tmovil="ngModel"  [(ngModel)]="User.Tmovil"></ion-input>
        <button class="submit-button"><strong>Guardar</strong></button>
      </form>
    </div>

  </div>
</ion-content>
