.content{
    background: linear-gradient( to bottom, #5FCEDC, #644296 85%) ;
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
}

.subcontent-1{
  height: inherit;
}

.subcontent-2{
  border-radius: 40px 40px 0px 0px;
  background-color: white;
  -webkit-border-radius: 40px 40px 0px 0px;
  -moz-border-radius: 40px 40px 0px 0px;
  -ms-border-radius: 40px 40px 0px 0px;
  -o-border-radius: 40px 40px 0px 0px;
}

.formulario{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    padding: 60px;
    align-items: center;
  }
  
  .input{
    color: gray;
    border-bottom: gray solid 1px;
    margin: 15px 0;
    height: 20px;
    flex: none;
    ::-webkit-input-placeholder{
      color: rgba(255, 255, 255, 1);
    }
  }

  .select{
    width: 100%;
    padding: 3px;
  }

  .submit-button{
    height: 35px;
    border-radius: 50px;
    border: none;  
    // box-shadow: 0 2px 9px 0 rgba(34, 26, 26, 0.3);
    color: #644296;
    margin-top: 15px;
    background: white;
  }