<div class="container-fluid">
  <div class="content">
    <div class="logo-section">
      <figure>
        <img src="../../../assets/imgs/icono-candado-blanco.svg" class="logo" alt="coinsvert-logo">
      </figure>
      <h1>Recuperación</h1>
      <h5>Ingresa una nueva contraseña</h5>
    </div>
    <div class="content-fluid">
      <form class="recovery-form"  id="formrecureperarC" #formrecureperarC="ngForm" (ngSubmit)="formrecureperarCSubmit()">
        <input class="input" type="password" placeholder="Nueva contraseña" name="npassword" #npassword="ngModel" [(ngModel)]="Password.npassword" required>
          <span *ngIf="npassword.touched && !npassword.valid" class="aviso">Ingrese nueva contraseña</span>
        <input class="input" type="password" placeholder="Confirmar contraseña" name="cnpassword" #cnpassword="ngModel" [(ngModel)]="Password.cnpassword" required>
          <span *ngIf="cnpassword.touched && !cnpassword.valid" class="aviso">Confirme la contraseña</span>
        <button class="recovery-button" [disabled]="!formrecureperarC.form.valid" [style.background] = "!formrecureperarC.form.valid ? 'gainsboro' : '#644296'">Recuperar</button>
      </form>
    </div>
  </div>
</div>