<div class="container">
  <div class="logo-section">
    <figure>
      <img src="../../assets/icon/favicon.png" alt="coinsvert-logo">

    </figure>
    <h1>Recuperar contraseña</h1>
  </div>
  <div class="content">
    <form class="recovery-form">
      <ion-input class="email" placeholder="E-mail"></ion-input>
      <button class="recovery-button">Recuperar</button>
    </form>
  </div>
</div>

<!-- ion-header>
  <ion-toolbar>
    <ion-title>PwrRecover</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content -->
