* {
    font-family: 'Montserrat', sans-serif;
}

.container-fluid {
    background: linear-gradient(to top, #5fcedc 69%, #644296);
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-weight: 400;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;

    h1 {
        color: white;
        font-family: 'Source Sans Pro', sans-serif;
        text-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.425);
        font-weight: bold;
        font-size: 10vw;
        // max-width: 15vw;
    }
    h2 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: gray;
    }
    h4 {
        text-align: center;
    }
    h5 {
        color: #fff;
        text-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.425);
        font-weight: bold;
        font-size: 4vw;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-weight: 700;
    }
    ion-badge {
        position: relative;
        top: -0.5rem;
        right: -0.2rem;
        opacity: 0.9;
    }
}

.cabecera {
    padding: 15px;
    height: 5%;
}

.notif-button.profile-icon {
    margin-left: 39%;
}

.header-icons {
    position: relative;
    height: fit-content;
    margin-bottom: 2vh;
}

.header-button-menu {
    height: 3vh;
}

.header-button-notif {
    height: 3vh;
}

.page-title {
    text-align: center;
}

.ion-color.ion-color-danger.ios.hydrated {
    position: relative;
    top: -0.5rem;
    right: 0.8rem;
    background-color: #70C6DD;
    color: white;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.notif-button {
    background-color: transparent;
    border: none;
    outline: none;
    position: relative;
    left: -10px;
}

.profile-icon {
    margin-left: 40px;
    width: auto;
    #user-icon {
        width: 53px;
    }
}

.notifications-icon,
.menu-icon {
    position: relative;
    height: fit-content;
    max-height: 15vh;
    margin-right: 1.2rem;
}

//
.content-fluid {
    background: #ffffff;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.425);
    border-radius: 40px 40px 0 0;
    height: 90%;
    padding-top: 20px;
    align-items: center;

    .tituloparteabajo {
        color: grey;
        padding-left: 40px;
        padding-right: 40px;
    }
}


.content-fluid-form {
    color: grey;
    width: auto;
    height: calc(100% - 169px);
    padding: 0px 30px 20px;
    overflow: hidden;
    overflow-y: scroll;

    //formulario de datos del usuario
    .formulario{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: 100%;
        padding: 20px;
        align-items: center;
    }
    
    .input{
    color: gray;
    border-bottom: gray solid 1px;
    margin: 15px 0;
    height: 20px;
    flex: none;
    ::-webkit-input-placeholder{
        color: rgba(255, 255, 255, 1);
    }
    }

    .select{
    width: 100%;
    padding: 3px;
    }

    //fotos
    .items{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 15px;

        #mapa{
            width: 25%;
            height: 62px;
            background: gray;
            border: 2px dashed #644296;
            margin-left: 10px;
        }

        .icono{
            width: 45px;
            height: 45px;
            margin: 0px 8px;
            display: flex;
            align-items: center;
            box-shadow: 0 2px 9px 0 gray;
            background-color: #644296;
            border-radius: 50px;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            -ms-border-radius: 50px;
            -o-border-radius: 50px;
        }.icono:hover{
            box-shadow: 0 2px 9px 0 black;
        }
    }

    .subir{
        mask: url(../../../assets/imgs/subir.svg) no-repeat center;
        background: white;
        width: 30px;
        height: 30px;
        position: relative;
        left: 8px;
        bottom: 1px;
    }

    .foto{
        mask: url(../../../assets/imgs/tomarfoto.svg) no-repeat center;
        background: white;
        width: 30px;
        height: 30px;
        position: relative;
        left: 8px;
        bottom: 1px;
    }

}


.form-action-buttons {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-evenly;
    
    .button{
        height: 35px;
        width: 35%;
        border-radius: 50px;
        border: none;
        font-weight: bold;
        font-size: 15px;
    }.button:hover{
        box-shadow: 0 2px 9px 0 gray;

    }

    .submit {
        color: #ffffff;
        background: #644296;
        }

    .cancel {
        border: solid #644296;
        color: #644296;
        background: white;
        }
}


