
<div class="container">
  <div>
    <figure>
      <img src="../../assets/icon/favicon.png" alt="coinsvert-logo">

    </figure>
    <h2>coinsvert</h2>
  </div>
  <div class="content">
    <div class="switch">
      <button></button>
      <button></button>
    </div>
  
  </div>
</div>



















    <!-- <ion-header>
      <ion-toolbar>
        <ion-title>Login</ion-title>
      </ion-toolbar>
    </ion-header>
    
    <ion-content >
    
      <h1>Login</h1>
      <ion-input class="input" placeholder="Ingresa Usuario"></ion-input>
      <ion-input type="password" placeholder="Ingresa Contraseña"></ion-input>
      <ion-button (click)="test()">Submit</ion-button> 
    </ion-content> -->