
<div class="container">
  <div class="logo-section">
    <figure class="logo">
      <img src="../../assets/icon/coinsvert imagotipo-10.png" alt="coinsvert-logo">
    </figure>
  </div>
  <div class="content">
    <div class="switch">
      <span id="slider" class="slider"></span>
      <button (click)= loginButton() class="button">Login</button>
      <button (click)= registerButton() class="button">Registro</button>
    </div>
    <form class="formulario">
      <ion-input class="input" placeholder="Usuario"></ion-input>
      <ion-input class="input" type="password" placeholder="Contraseña"></ion-input>
      <button class="submit-button">Ingresar</button>
    </form>
    <p>Olvidé mi contraseña</p>
    <div class="login-social-media">
      <div class="ingresa-con">
        <div class="line"></div>
        <p>O ingresa con</p>
        <div class="line"></div>
      </div>
      <button class="social-button"><ion-icon name="logo-google"></ion-icon>Ingresar con Google</button>
      <button class="social-button">Ingresar con Facebok</button>

    </div>
  </div>
</div>



















    <!-- <ion-header>
      <ion-toolbar>
        <ion-title>Login</ion-title>
      </ion-toolbar>
    </ion-header>
    
    <ion-content >
    
      <h1>Login</h1>
      <ion-input class="input" placeholder="Ingresa Usuario"></ion-input>
      <ion-input type="password" placeholder="Ingresa Contraseña"></ion-input>
      <ion-button (click)="test()">Submit</ion-button> 
    </ion-content> -->