
.content{
  background: linear-gradient( to right bottom, #5FCEDC, #644296 85%) ;
  //background: linear-gradient( #5FCEDC, #644296 85%) ;
  box-shadow: 0 2px 9px 0 rgba(0,0,0,.6);
  border-radius: 40px 40px 0 0;
  height: 100%;
  padding: 25px 30px;
  display: flex;
  justify-content: center;
}
.container{
  margin: 0 auto;  
  max-width: 500px;
  height: 100%;
}
.switch{
  border: 1px solid red;
}