<ion-content>

    <div class="container-fluid">
        <div class="content">
            <div class="cabecera">
                <!-- iconos de notificación y menú desplegable -->
                <ion-row class="header-icons" no-padding justify-content-start align-items-start>
                    <ion-col class="ion-text-left" size="4">
                        <button class="notif-button">
                <img class="header-button-notif" src="../../assets/imgs/notificacion.svg" alt="notifications-icon">
                <ion-badge color="danger" mode="ios" slot="start">2</ion-badge>
              </button>
                    </ion-col>
                    <ion-col size="4">
                        <div class="envios-title">
                            <h4>Envios</h4>
                        </div>
                    </ion-col>
                    <ion-col size="4" class="ion-text-right">
                        <button class="notif-button" style="margin-left: 87px;">
                <img class="header-button-menu" src="../../assets/imgs/menu.svg" alt="menu-icon">
              </button>
                    </ion-col>
                </ion-row>
                <!-- ./iconos de notificación y menú desplegable -->
            </div>
        </div>

        <!-- PARTE DE ABAJO -->
        <div class="content-fluid">
            <div class="content-t-p">
                <ion-grid fixed>
                    <ion-row ion-justify-content-center ion-align-items-center>
                        <ion-col size="12" ion-item no-lines no-padding text-center>
                            <div class="content-title">
                                <h4>Sigue los pasos</h4>
                            </div>
                        </ion-col>
                    </ion-row>
                    <ion-row class="fav-wallets-title" ion-justify-content-center ion-align-items-center>
                        <ion-col size="12" ion-item no-lines no-padding text-center>
                            <div class="avatar-title">
                                <h4>Seleccina el destino</h4>
                            </div>
                        </ion-col>
                    </ion-row>
                    <ion-row class="fav-wallets-avatars" ion-justify-content-center ion-align-items-center>
                        <ion-col size="4" ion-item no-lines no-padding text-center>
                            <div class="avatar">
                                <div class="user-img">

                                </div>
                                <h4>Usuario</h4>
                            </div>
                        </ion-col>
                        <ion-col size="4" ion-item no-lines no-padding text-center>
                            <div class="avatar" ion-item no-lines no-padding text-center>
                                <div class="user-img">

                                </div>
                                <h4>Usuario</h4>
                            </div>
                        </ion-col>
                        <ion-col size="4" ion-item no-lines no-padding text-center>
                            <div class="avatar" ion-item no-lines no-padding text-center>
                                <div class="user-img">

                                </div>
                                <h4>Usuario</h4>
                            </div>
                        </ion-col>
                    </ion-row>
                    <ion-row class="fav-wallets-button" ion-justify-content-center ion-align-items-center>
                        <ion-col size="12" ion-item no-lines no-padding text-center>
                            <div class="btn-container">
                                <button class="btn-add-wallet"><strong>Añadir billetera</strong></button>
                            </div>
                        </ion-col>
                    </ion-row>
                    <ion-row class="blank" ion-justify-content-center ion-align-items-center>
                        <ion-col class="blank-col" size="12" ion-item no-lines no-padding text-center></ion-col>
                    </ion-row>
                    <ion-row class="steps-title" ion-justify-content-center ion-align-items-center>
                        <ion-col size="12" ion-item no-lines no-padding text-center>
                            <div class="content-title">
                                <h5>Paso 1 de 3</h5>
                            </div>
                        </ion-col>
                    </ion-row>
                    <ion-row class="steplines" ion-justify-content-center ion-align-items-center>
                        <ion-col size=" 4 " ion-item no-lines no-padding text-center>
                            <div class="step1"></div>
                        </ion-col>
                        <ion-col size="4 " ion-item no-lines no-padding text-center>
                            <div class="step2 "></div>
                        </ion-col>
                        <ion-col size="4 " ion-item no-lines no-padding text-center>
                            <div class="step3 "></div>
                        </ion-col>
                    </ion-row>
                    <ion-row class="ion-align-items-center" ion-justify-content-center ion-align-items-center>
                        <ion-col size="12" ion-item no-lines no-padding text-center><button class="btn-next" id="botonValidar"><strong>Siguiente</strong></button></ion-col>
                    </ion-row>
                </ion-grid>
                <!-- ----------------------PASO 1------------------------- -->
                <div>
                    <!-- <ion-grid fixed>
                        <ion-row>
                            <ion-col size="6 "></ion-col>
                            <ion-col size="6 "></ion-col>
                        </ion-row>
                    </ion-grid> -->
                </div>

                <!-- <div class="switch ">
                    <span class="slider "></span>
                    <button (click)="loginButton() " (click)="condicion='Paso1' " class="button "><strong>Ultimas Transacciones</strong></button>
                    <button (click)="registerButton() " (click)="condicion='precios' " class="button "><strong>Precios</strong></button>
                </div> -->

                <!-- ----------------------PASO 2------------------------- -->
                <div>
                    <div class="item item-p ">
                        <img src="../../assets/icon/coin3.png " alt="coin ">
                        <div class="info-item ">
                            <div class="part ">
                                <p class="nombre-item ">Bitcoin</p>
                                <p class="info-coin ">08-24 <span class="info-coin ">20.04PM</span></p>
                            </div>
                            <div class="part ">
                                <p class="info-coin ">+0.94853</p>
                                <p class="info-coin ">$2,748.94</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ----------------------PASO 3 ------------------------ -->
                <div>
                    <div class="item item-p " >
                        <img src="../../assets/icon/coin3.png " alt="coin ">
                        <div class="info-item ">
                            <div class="part ">
                                <p class="nombre-item ">Bitcoin</p>
                                <p class="info-coin ">08-24 <span class="info-coin ">20.04PM</span></p>
                            </div>
                            <div class="part ">
                                <p class="info-coin ">+0.94853</p>
                                <p class="info-coin ">$2,748.94</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- ----------------------MENU------------------------- -->
            <app-tab-bar></app-tab-bar>

        </div>
    </div>
</ion-content>