* {
    font-family: 'Montserrat', sans-serif;
}

.container-fluid {
    background: linear-gradient(to top, #5fcedc 69%, #644296);
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-weight: 400;
    overflow: hidden;
    overflow-y: scroll;
    h1 {
        color: white;
        font-family: 'Source Sans Pro', sans-serif;
        text-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.425);
        font-weight: bold;
        font-size: 10vw;
        // max-width: 15vw;
    }
    h2 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: gray;
    }
    h3 {
        // color: #fff;
    }
    h4 {
        text-align: center;
    }
    h5 {
        color: #fff;
        text-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.425);
        font-weight: bold;
        font-size: 4vw;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-weight: 700;
    }
    ion-badge {
        position: relative;
        top: -0.5rem;
        right: -0.2rem;
        opacity: 0.9;
    }
}

.content {
    position: relative;
    height: auto;
    height: fit-content;
    // border-style: dashed;
    .cabecera {
        padding: 15px;
        height: auto;
        height: 54px;
    }
}

.notif-button.profile-icon {
    margin-left: 39%;
}

.header-icons {
    position: relative;
    height: fit-content;
    margin-bottom: 2vh;
}

.header-button-menu {
    height: 3vh;
}

.header-button-notif {
    height: 3vh;
}

.page-title {
    text-align: center;
}

.ion-color.ion-color-danger.ios.hydrated {
    position: relative;
    top: -0.5rem;
    right: 0.8rem;
    background-color: #70C6DD;
    color: white;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.notif-button {
    background-color: transparent;
    border: none;
    outline: none;
    position: relative;
    left: -10px;
}

.profile-icon {
    margin-left: 40px;
    width: auto;
    #user-icon {
        width: 53px;
    }
}

//
.content-fluid {
    background: #ffffff;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.425);
    border-radius: 40px 40px 0 0;
    height: auto;
    padding-top: 20px;
    align-items: center;
}

//formulario de datos del usuario
.content-fluid-wallets {
    color: grey;
    width: auto;
    height: 480px;
    margin-right: 40px;
    margin-left: 30px;
    overflow: hidden;
    overflow-y: scroll;
}

.subcontent {
    width: 90%;
    color: grey;
    width: auto;
    height: 50px;
    // height: 610px;
    padding-left: 40px;
    padding-right: 40px;
    overflow: hidden;
    overflow-y: scroll;
}

.fav-select {
    // display: flex;
    // flex-direction: column;
    // box-sizing: border-box;
    // width: 100%;
    // padding: 0px;
    height: 30px;
    border-style: dashed;
    border-color: red;
}

.favorite-wallets {
    padding: 10px;
    height: 120px;
    border-style: dashed;
    border-color: rgb(255, 174, 0);
}

.wallet-thumbnail {
    border-radius: 10px;
    border-style: dashed;
    border-color: rgb(21, 255, 0);
}

.steps-slider {
    height: 50px;
    color: crimson;
    border-color: crimson;
    border-style: dashed;
}

.submit-button {
    height: 30px;
    width: 90%;
    margin: 15px;
    border-radius: 50px;
    border: none;
    // box-shadow: 0 2px 9px 0 rgba(34, 26, 26, 0.3);
    color: #ffffff;
    margin-top: 15px;
    background: #644296;
}

.next-button {
    height: 40px;
    width: 70%;
    margin: 15px;
    border-radius: 50px;
    border: none;
    // box-shadow: 0 2px 9px 0 rgba(34, 26, 26, 0.3);
    color: #ffffff;
    margin-top: 15px;
    background: #644296;
}