<ion-menu side="start" menuId="menu_lateral"  contentId="main">
  <ion-content>
    <div class="list">
      <div class="item" [routerLink]="['/menu']">
        <img src="../../../assets/imgs/home.svg" alt="Home"> 
        <p>Home</p>
      </div>
      <div class="item morado" [routerLink]="['/dashboard']">
        <img src="../../../assets/imgs/dashboard.svg" alt="Dashboard">
        <p>Dashboard</p>
      </div>
      <div class="item" [routerLink]="['/#']">
        <img src="../../../assets/imgs/wallet.svg" alt="Wallet"> 
        <p>Wallet</p>
      </div>
      <div class="item morado" [routerLink]="['/perfil-editado']">
        <img src="../../../assets/imgs/perfil.svg" alt="Perfil"> 
        <p>Perfil</p>
      </div>
      <div class="item" [routerLink]="['/#']">
        <img src="../../../assets/imgs/inscripciones.svg" alt="Inscripciones"> 
        <p>Inscripciones</p>
      </div>
      <div class="item morado" [routerLink]="['/#']">
        <img src="../../../assets/imgs/market.svg" alt="Mercado"> 
        <p>Mercado</p>
      </div>
      <div class="item" [routerLink]="['/#']">
        <img src="../../../assets/imgs/transacciones.svg" alt="Transacciones"> 
        <p>Transacciones</p>
      </div>
      <div class="item morado" [routerLink]="['/movimientos']">
        <img src="../../../assets/imgs/movimientos.svg" alt="Movimientos"> 
        <p>Movimientos</p>
      </div>
      <div class="item" [routerLink]="['/#']">
        <img src="../../../assets/imgs/precios.svg" alt="Precios"> 
        <p>Precios</p>
      </div>
      <div class="item morado" [routerLink]="['/#']">
        <img src="../../../assets/imgs/pqr.svg" alt="PQR"> 
        <p>PQR</p>
      </div>
    </div>
  </ion-content>
</ion-menu>