<!-- Vista del Dashboard - Rebeca -->
<ion-content>
    <div class="container-fluid">
        <div class="content">
            <ion-buttons slot="start">
                <ion-back-button (click)="regresar_login()" text="Regresar" icon="chevron-back-outline" defaultHref="home"></ion-back-button>
            </ion-buttons>
            <div class="title">
                <div class="ion-text-center">
                    <h2 class="h2title">Registro de nuevo usuario</h2>
                </div>
                <div class="ion-text-center subtitle">
                    <p>Hemos enviado un código al e-mail registrado.</p>
                </div>
            </div>
            <div class="cabecera">
                <!-- <h5>Ingresa el código de verificación</h5> -->
                <div class="code-main-container">
                    <!-- Contenedor principal ingreso código de verificación-->
                    <ion-grid class="code-grid">
                        <ion-row class="ion-align-items-center">
                            <ion-col size="12">
                                <div class="ion-text-center">
                                    <h2>Ingresa el código</h2>
                                </div>
                            </ion-col>
                        </ion-row>

                        <ion-row class="code-fields-container ion-align-items-center">
                            <ion-col class="ion-text-center ion-no-padding ion-justify-items-center" size="12" offset="" no-lines>
                                <form class="verificarion-form" method="POST">
                                    <ion-item class="code-field" lines="none">
                                        <!-- <div class="code-blocks">
                                      <div class="code-block"></div>
                                      <div class="code-block"></div>
                                      <div class="code-block"></div>
                                      <div class="code-block"></div>
                                      <div class="code-block"></div>
                                      <div class="code-block"></div>
                                  </div> -->
                                        <ion-input onkeypress="" class="input" maxlength="6" autofocus="true"></ion-input>
                                    </ion-item>
                                </form>
                            </ion-col>
                        </ion-row>
                        <ion-row class="ion-align-items-center">
                            <ion-col size="12"><button class="submit-button" id="botonValidar"><strong>Validar</strong></button></ion-col>
                        </ion-row>
                    </ion-grid>
                    <!-- /Contenedor principal ingreso código de verificación -->
                </div>

            </div>
            <div class="title">
                <div class="confirmation-popup">
                    <!-- Contenedor principal ingreso código de verificación-->
                    <div class="popup-icon">
                        <img src="../../../assets/imgs/aprovado-verificacion.svg" alt="email validado">
                    </div>
                    <h2>Email validado</h2>
                    <!-- /Contenedor principal ingreso código de verificación -->
                </div>
            </div>
        </div>
    </div>
</ion-content>