<!-- Vista del Dashboard - Rebeca -->
<ion-content>
<div class="container-fluid">
  <div class="content">
    <ion-buttons slot="start">
      <ion-back-button
        (click)="regresar_login()"
        text="Regresar"
        icon="chevron-back-outline"
        defaultHref="home"
      ></ion-back-button>
    </ion-buttons>
    <div class="title">
    <div class="ion-text-center"><h2>Registro de nuevo usuario</h2></div>
    <div class="ion-text-center subtitle"><p>Hemos enviado un código al e-mail registrado.</p></div>  
    </div>
    <div class="cabecera">
      <!-- <h5>Ingresa el código de verificación</h5> -->
      <div class="code-main-container">
      <!-- Contenedor principal ingreso código de verificación-->
      <ion-grid class="code-grid">
      <ion-row class="ion-align-items-center">
        <ion-col size="8" push="2"><div class="ion-text-center"><h2>Ingresa el código</h2></div></ion-col>
      </ion-row>
      <div class="code-blocks">
        <div class="code-block"></div>
        <div class="code-block"></div>
        <div class="code-block"></div>
        <div class="code-block"></div>
        <div class="code-block"></div>
        <div class="code-block"></div>
      </div>
          <ion-row class="code-fields-container" justify-content-center>
            <ion-col
              class="ion-text-center ion-no-padding"
              size="12"
              no-lines
            >
            
                <form class="verificarion-form" method="POST" >
                <ion-item class="code-field ion-align-items-center" lines="none">
                  <ion-input onkeypress="" class="code-input ion-align-items-center" maxlength="6" autofocus="true"></ion-input>
                </ion-item>
                </form>
            </ion-col>
          </ion-row>
      <ion-row>
        <ion-col size="12"><button class="submit-button"><strong>Validar</strong></button></ion-col>
      </ion-row>
      </ion-grid>
      <!-- /Contenedor principal ingreso código de verificación -->
      </div>
    </div>
  </div>
</div>
</ion-content>

