* {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}
div,
row,
col {
  //   border-color: #fff;
  //   border-style: dashed;
  text-align: center;
}
ion-back-button {
  text-transform: none;
  color: white;
  font-size: 15px;
}
.container-fluid {
  background: linear-gradient(150deg, #11cedc, #5163a6, #673e93);
  height: 100%;
  width: auto;
  padding: 12px;
  display: flex;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  font-weight: 400;
  overflow: hidden;
  overflow-y: scroll;

  h2 {
    color: white;
    font-family: "Source Sans Pro", sans-serif;
    text-shadow: 1px 1px 1.5px #000000c7;
    font-weight: bold;
  }
  p {
    color: white;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: lighter;
    font-size: 14px;
  }
  //   h5 {
  //     color: #fff;
  //     text-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.425);
  //     font-weight: bold;
  //     font-size: 4vw;
  //     font-family: "Montserrat", sans-serif;
  //     font-weight: bold;
  //     font-weight: 700;
  //   }
}

.content {
  position: relative;
  height: auto;
  height: fit-content;
  // border-style: dashed;
  .title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 25vh;
    max-height: 40vh;
  }
  .subtitle {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .cabecera {
    padding-left: 20px;
    padding-right: 20px;
    height: auto;
    height: 280px;
    display: flex;
    // justify-content: center;
    // position: relative;
    // background: #3866a291;
    // box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.137);
    // border-radius: 10px;
    // width: 30px;
    // height: 50px;
    // min-width: 30px;
    // max-width: 100px;
  }
}

.code-main-container {
  background: linear-gradient(150deg, #2f91bb,#3f63a1, #464a91);
//   box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.137);
  border-radius: 20px;
  padding: 16px;
}
.code-grid {
  padding-top: 10px;
  padding-bottom: 10px;
}
.code-fields-container {
  margin-top: 30px;
  padding-left: 5px;
  padding-right: 5px;
}
.code-field {
  display: flex;
  justify-content: center;
  position: relative;
  background: linear-gradient(#375c995e, #38498bd9);
  border-radius: 10px;
  margin: 3px;
  height: 60px;
  max-height: 120px;
  input [type="text"] {
      color: #fff;
      font-size: 10pt;
      font-weight: bold;
      margin: 0%;
      height: 100%;
  }
}
.submit-button {
  height: 35px;
  border-radius: 50px;
  border: none;
  box-shadow: 0 2px 9px 0 rgba(34, 26, 26, 0.3);
  color: #644296;
  margin-top: 15px;
  background: white;
  width: 100%;
}
