<!-- Vista del Dashboard - Rebeca -->
<ion-content>
  <div class="container-fluid">
    <div class="content">
      <ion-buttons slot="start">
        <ion-back-button text="Regresar" icon="chevron-back-outline" defaultHref="/"></ion-back-button>
      </ion-buttons>
      <div class="title">
        <div class="ion-text-center">
          <h2 class="h2title">Registro de nuevo usuario</h2>
        </div>
        <div class="ion-text-center subtitle">
          <p>Hemos enviado un código al e-mail registrado.</p>
        </div>
      </div>

      <!-- Contenedor principal ingreso código de verificación-->
      <div class="caja1">

        <div id="marcas">
          <div class="piesa"></div>
          <div class="piesa"></div>
          <div class="piesa"></div>
          <div class="piesa"></div>
          <div class="piesa"></div>
          <div class="piesa"></div>
        </div>
 
        <!--<form id="formInicio" class="formulario" #formCodigo="ngForm" (ngSubmit)="formCodigo()"> -->
          <form id="formInicio" class="formulario" #formCodigo="ngForm">
          <h2>Ingresa el código</h2>
          <input  maxlength="6" class="input" type="number" name="codigo" #codigo="ngModel" [(ngModel)]="Codigo.codi" required>
          <button class="submit-button" [disabled]="!formCodigo.form.valid" [style.background]="!formCodigo.form.valid ? 'gainsboro' : 'white'"><strong>Validar</strong></button>
        </form>
      </div>

    
      <!-- MENSAJE -->
      <div class="confirmation-popup">
        <img src="../../../assets/imgs/aprobado.svg" alt="email validado"/>
        <h3>Email validado</h3>
      </div>

    </div>
  </div>
</ion-content>
