<div class="container-fluid">
  <div class="content">
    <ion-buttons slot="start">
      <ion-back-button text="Regresar"
      icon="chevron-back-outline" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <div class="logo-section">
      <figure>
        <img src="../../../assets/imgs/icono-candado-blanco.svg" class="logo" alt="coinsvert-logo">
      </figure>
      <h1>Recuperar contraseña</h1>
    </div>
    <div class="content-fluid">
      <form class="recovery-form">
       <ion-item>
        <ion-input class="email" placeholder="E-mail"></ion-input>
       </ion-item>
        <button class="recovery-button">Recuperar</button>
      </form>
    </div>
  </div>
</div>

<!-- ion-header>
  <ion-toolbar>
    <ion-title>PwrRecover</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
</ion-content -->
