<div class="container-fluid">
  <div class="content">
    <ion-buttons slot="start">
      <ion-back-button (click)="RedirigirLogin()" routerDirection="forward" text="Regresar" icon="chevron-back-outline" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <div class="logo-section">
      <figure>
        <img src="../../../assets/imgs/icono-candado-blanco.svg" class="logo" alt="coinsvert-logo">
      </figure>
      <h2>Recuperar contraseña</h2>
    </div>
  </div>
  <div class="content-fluid">
    <form class="recovery-form"  id="formEnviarC" #formEnviarC="ngForm" (ngSubmit)="formEnviarCSubmit()">
      <input class="input" type="email" placeholder="Email" name="correo" #correo="ngModel" [(ngModel)]="Correo.correo" required>
      <span *ngIf="correo.touched && !correo.valid" class="aviso">Ingrese el correo</span>
      <button routerDirection="forward" class="recovery-button" [disabled]="!formEnviarC.form.valid" [style.background] = "!formEnviarC.form.valid ? 'gainsboro' : '#644296'" >Recuperar</button>
    </form>
  </div>
</div>
