// Vista del Dashboard - rebeca

* {
    margin: 0;
    padding: 0;
    max-width: 100%;
  }
  
  .container-fluid {
    background: linear-gradient(to right top, #5FCEDC, #644296 90%);
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: small;
    
    h1 {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    text-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.425);
    font-weight: bold;
    font-size: 40px;
    }
  
    h2 {
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: gray;
    }
    h5 {
    color: #fff;
    text-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.425);
    font-weight: bold;
    font-size: 15px;
    }
    
    ion-badge{
      position: absolute;
      top: 1rem;
      right: -0.2rem;
      opacity: 0.9;
      & ~ ion-icon {
        margin-right: 1.2rem;
      }
    }
  }
  
  #user-icon {
    // -webkit-mask: url(../../assets/imgs/perfil.svg) no-repeat;
    background:  #644296;
    height: 70px;
    width: 70px;
    align-items: center;
  }
  .actions-menu {
    margin: 10px;
  }
  .actions-menu-button {
    background: #3866a291;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.137);
    border-radius: 10px;
    align-items: center;
    margin: 4px 4px 4px 4px;
    padding: 10px;
  }
  
  .action-menu-icon {
    // -webkit-mask: url(../../assets/imgs/envio.svg) no-repeat;
    // background: #3866a2;
    // border-radius: 10px;
    align-items: center;
    height: 30px;
    width: 30px;
  }
  
  
  
  // Final del menu inferior - tabs 
  
  .profile {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 40vh;
  }
  
  .actions-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
  }
  
  .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  }
  
  
  .col{
    border-style: dashed;
    border-color: #000;
  }
  
  .content-fluid {
    background: #fff;
    //background: linear-gradient( #5FCEDC, #644296 85%) ;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.425);
    border-radius: 40px 40px 0 0;
    height: 100vh;
    padding: 25px 40px;
    // display: flex;
    // flex-direction: column;
    align-items: center;
  }
  

  // .is-selected {
  //   color: white;
  //   width: 50%;
  //   height: 100%;
  //   border-radius: 50px;
  //   background: #644296;
  //   border: none;
  //   outline: 0;
  // }
  
  // .not-selected {
  //   color: #644296;
  //   width: 50%;
  //   height: 100%;
  //   border-radius: 50px;
  //   background: transparent;
  //   border: none;
  //   outline: 0;
  // }
  
  // .recovery-button{
  //   height: 35px;
  //   border-radius: 50px;
  //   border: none;  
  //   box-shadow: 0 2px 9px 0 rgba(34, 26, 26, 0.3);
  //   color: #644296;
  //   margin-top: 15px;
  //   background: white;
  // }
  .content-transactions{
    width: auto;
  }

 
  
  .botontrans {
    padding: 50px;
    align-items: center;
  }
  
  // dashboard
  
  
  .dashboard-tab {
    mask-image: url();
  }
  
  .tab-bar{
    border-radius: 20px 20px 0 0;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, .5);
  }