<!-- Vista del Dashboard - Rebeca -->
<div class="container-fluid">
  <div class="content">
    <ion-grid no-padding>
      <!-- iconos de notificación y menú desplegable -->
      <ion-row
        class="header-icons"
        no-padding
        justify-content-start
        align-items-start
      >
        <ion-col class="ion-text-left" size="8" ion-item no-lines no-padding>
          <ion-button (click)="onClick()" fill="clear" shape="round">
            <img
              class="action-menu-icon"
              src="../../assets/imgs/notificacion.svg"
              alt="notifications-icon"
            />
            <ion-badge color="danger" mode="ios" slot="start">42</ion-badge>
          </ion-button>
        </ion-col>
        <ion-col size="4" class="ion-text-right">
          <ion-button (click)="onClick()" fill="clear" shape="round">
            <img
              class="action-menu-icon"
              src="../../assets/imgs/perfil.svg"
              alt="enviar-icon"
            />
          </ion-button>
        </ion-col>
      </ion-row>
      <!-- ./iconos de notificación y menú desplegable -->

      <!-- balance -->
      <ion-row class="ion-text-md-left balance">
        <ion-col size="8">
          <h1 class="balance-price">$9.999,99</h1>
          <ion-label><h5>Balance</h5></ion-label>
        </ion-col>
        <ion-col size="4">
          <ion-button (click)="onClick()" fill="clear" shape="round">
            <ion-img
              id="user-icon"
              src=".././../assets/imgs/usuario.png"
              alt="profile-icon"
            ></ion-img>
          </ion-button>
        </ion-col>
      </ion-row>
      <!-- <ion-row class="ion-text-left balance">
        <ion-col size="6" class="balance-label"><h5>Balance</h5></ion-col>
      </ion-row> -->
      <!-- ./balance -->
      <!-- menú de acciones rápidas -->
      <ion-row class="actions-menu" justify-content-center>
        <ion-col class="action-menu-col" size="3" ion-item no-lines><!--Enviar-->
          <div class="actions-menu-button">
            <ion-img
              class="action-menu-icon"
              (click)="onClick()"
              src="../../assets/imgs/envio.svg"
              alt="enviar-icon"
            ></ion-img>
          </div>
          <div class="actions-menu-label">
            <ion-label>Enviar</ion-label>
          </div>
        </ion-col>

        <ion-col class="ion-text-center action-menu-col ion-no-padding" size="3" no-lines>
        <div class="actions-menu-button">
            <ion-img class="action-menu-icon"
            (click)="onClick()"
            src="../../assets/imgs/recarga.svg"
            alt="recargar-icon"></ion-img>
          </div>
          <div class="actions-menu-label">
            <ion-label>Recargar</ion-label>
          </div>
        </ion-col>

        <ion-col class="ion-text-center action-menu-col" size="3" no-lines>
          <div class="actions-menu-button">
            <ion-img
              class="action-menu-icon"
              (click)="onClick()"
              src="../../assets/imgs/compra.svg"
              alt="comprar-icon"
            ></ion-img>
          </div>
          <div class="actions-menu-label">
            <ion-label>Comprar</ion-label>
          </div>
        </ion-col>

        <ion-col class="ion-text-center action-menu-col" size="3" no-lines>
          <div class="actions-menu-button">
            <ion-img
              class="action-menu-icon"
              (click)="onClick()"
              src="../../assets/imgs/retiro.svg"
              alt="retiro-icon"
            ></ion-img>
          </div>
          <div class="actions-menu-label">
            <ion-label>Retirar</ion-label>
          </div>
        </ion-col>
      </ion-row>
      <!-- ./menú de acciones rápidas -->
    </ion-grid>
  </div>

  <div class="content-fluid">
    <div class="switch">
      <button (click)="test()" class="clicked switch-button">
        Últimas transacciones
      </button>
      <button (click)="test()" class="switch-button">Precios</button>
    </div>
    
    <div class="content-transactions">
      <ion-list class="transactions-list">
     <!-- Lista de transacciones  -->
        <!-- item -->
        <ion-item class="list-item" lines="none">
          <ion-thumbnail slot="start">
            <img class="thumbnail" src="../../assets/icon/bitcoin.png" alt="crypto-avatar" />
          </ion-thumbnail>
          <ion-grid>
            <ion-row>
              <ion-col class="crypto-type" size="6"> Bitcoins </ion-col>
              <ion-col class="crypto-price" size="6"> +0.958674 </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="transaction-date" size="3"> mm-dd </ion-col>
              <ion-col class="transaction-time" size="3"> hh:mm </ion-col>
              <ion-col class="money-change" size="6"> $254.222 </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <!-- ./item -->
        <!-- item -->
        <ion-item class="list-item" lines="none">
          <ion-thumbnail slot="start">
            <ion-img class="thumbnail" src="../../assets/icon/ethereum.png" alt="crypto-avatar"></ion-img>
          </ion-thumbnail>
          <ion-grid>
            <ion-row>
              <ion-col class="crypto-type" size="6"> Ethereum </ion-col>
              <ion-col class="crypto-price" size="6"> +0.958674 </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="transaction-date" size="3"> mm-dd </ion-col>
              <ion-col class="transaction-time" size="3"> hh:mm </ion-col>
              <ion-col class="money-change" size="6"> $254.222 </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <!-- ./item -->
        <!-- item -->
        <ion-item class="list-item" lines="none">
          <ion-thumbnail slot="start">
            <ion-img class="thumbnail" src="../../assets/icon/dashcoin.png" alt="crypto-avatar"></ion-img>
          </ion-thumbnail>
          <ion-grid>
            <ion-row>
              <ion-col class="crypto-type" size="6"> Dashcoin </ion-col>
              <ion-col class="crypto-price" size="6"> +0.958674 </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="transaction-date" size="3"> mm-dd </ion-col>
              <ion-col class="transaction-time" size="3"> hh:mm </ion-col>
              <ion-col class="money-change" size="6"> $254.222 </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <!-- ./item -->
        <!-- item -->
        <ion-item class="list-item" lines="none">
          <ion-thumbnail slot="start">
            <ion-img class="thumbnail" src="../../assets/icon/bitcoins.png" alt="crypto-avatar"></ion-img>
          </ion-thumbnail>
          <ion-grid>
            <ion-row>
              <ion-col class="crypto-type" size="6"> Bitcoin </ion-col>
              <ion-col class="crypto-price" size="6"> +0.958674 </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="transaction-date" size="3"> mm-dd </ion-col>
              <ion-col class="transaction-time" size="3"> hh:mm </ion-col>
              <ion-col class="money-change" size="6"> $254.222 </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <!-- ./item -->
      </ion-list>
    </div>
  </div>

  <div>
     <!-- Tabs utilizados en el Dashboard -->
  <ion-tabs>
    <ion-tab-bar class="tab-bar" slot="bottom">
      <!-- Dashboard -->
      <ion-tab-button tab="panel" class="dashboard-tab">
        <ion-label class="tab-label">Dashboard</ion-label>
        <ion-icon
          src="../../assets/imgs/dashboard.svg"
          class="dashboard-icon"
        ></ion-icon>
      </ion-tab-button>

      <!-- Wallet -->
      <ion-tab-button tab="wallet" class="wallet-tab"> </ion-tab-button>

      <!-- Home -->
      <ion-tab-button tab="account" class="profile-tab"> </ion-tab-button>

      <!-- Precio -->
      <ion-tab-button tab="usd" class="prices-tab"> </ion-tab-button>

      <!-- Market -->
      <ion-tab-button tab="cart" class="market-tab"> </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  </div>
</div>
