<div class="container">
  <div class="profile">
  </div>
  <div class="content">
        <h2>Ultimas transacciones</h2>

        <!-- <div class="col-lg-4">
            <div class="profile-balance gradient-blue mb-15">
                <div class="profile-bal-head">
                    <h3>Total Token Earning</h3>
                </div> -->
        
  </div>
</div>

<!-- Tabs utilizados en el Dashboard -->
<ion-tabs>
    <ion-tab-bar slot="bottom">

        <ion-tab-button tab="panel"> 
            <ion-icon name="keypad"> </ion-icon>
            <ion-label>Dashboard</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="wallet"> 
          <ion-icon name="wallet"> </ion-icon>
          <ion-label>Wallet</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="account"> 
        <ion-icon name="person"> </ion-icon>
        <ion-label>Perfil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="usd"> 
      <ion-icon name="logo-usd"> </ion-icon>
      <ion-label>Precio</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="cart"> 
    <ion-icon name="cart"> </ion-icon>
    <ion-label>Market</ion-label>
</ion-tab-button>

    </ion-tab-bar>

</ion-tabs>