<ion-content>
  <div class="container-fluid">
    <div class="content">
      <div class="cabecera">
        <!-- iconos de notificación y menú desplegable -->
        <ion-row
          class="header-icons"
          no-padding
          justify-content-start
          align-items-start
        >
          <ion-col class="ion-text-left" size="8">
            <button class="notif-button">
              <img
                class="header-button-notif"
                src="../../assets/imgs/notificacion.svg"
                alt="notifications-icon"
              />
              <ion-badge color="danger" mode="ios" slot="start">2</ion-badge>
            </button>
          </ion-col>
          <ion-col size="4" class="ion-text-right">
            <button
              class="notif-button"
              style="margin-left: 87px"
            >
              <img
                class="header-button-menu"
                src="../../assets/imgs/menu.svg"
                alt="menu-icon"
              />
            </button>
          </ion-col>
        </ion-row>
        <!-- ./iconos de notificación y menú desplegable -->

        <!-- ------PUNTAJE, VISTAS Y PROMEDIO------- -->

        <!-- --PUNTAJE-- -->
        <ion-row
          class="actions-menu"
          no-padding
          justify-content-center
          align-items-center
        >
          <ion-col
            class="action-menu-col ion-justify-content-center"
            size="6"
            no-lines
          >
            <div class="actions-menu-button ion-justify-content-center">
              <!-- label de puntaje -->
              <img
                class="action-menu-icon"
                src="../../assets/imgs/puntaje.svg"
                alt="puntaje"
              />
              <div class="action-menu-label"></div>
            </div>
          </ion-col>

          <!-- ---VISTAS--- -->
          <ion-col
            class="ion-text-center action-menu-col ion-no-padding ion-justify-content-center"
            size="6"
            no-lines
          >
            <div class="actions-menu-button">
              <img
                class="action-menu-icon"
                src="../../assets/imgs/vistas.svg"
                alt="vistas"
              />
              <!-- Label de vista -->
              <div class="action-menu-label"></div>
            </div>
          </ion-col>
        </ion-row>

        <!-- PROMEDIO -->
        <ion-row no-padding justify-content-center align-items-center>
          <ion-col
            class="ion-align-items-center action-menu-col"
            size="12"
            no-lines
          >
            <div class="promedio">
              <!-- <img class="action-menu-icon" src="../../assets/imgs/promedio.svg" alt="promedio-icon"> -->
              <!-- label promedio -->

              <div class="action-menu-label"></div>
            </div>
          </ion-col>
        </ion-row>
        <!-- ./menú de acciones rápidas   -->
      </div>
    </div>

    <!-- PARTE DE ABAJO -->
    <div class="content-fluid">
      <div class="content-t-p">
        <!-- ----------------------GANANCIAS------------------------- -->

        <div class="item item-p">
          <div class="info-item">
            <div class="row">
              <p class="nombre-item">Ganancias</p>
              <div class="col-sm-12">
                <canvas
                  baseChart
                  width="33vh"
                  height="22vh"
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [colors]="lineChartColors"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"
                  [plugins]="lineChartPlugins"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"
                ></canvas>
              </div>
            </div>
          </div>
        </div>

        <div class="item item-p">
          <div class="info-item">
            <div class="row">
              <p class="nombre-item">Ganancias</p>
              <div class="col-md-12">
                <canvas
                  baseChart
                  width="43vh"
                  height="25vh"
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [colors]="lineChartColors"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"
                  [plugins]="lineChartPlugins"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"
                ></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- --Content-tp -->

      <!-- ----------------------MENU------------------------- -->
      <app-tab-bar></app-tab-bar>
    </div>
    <!--ContentFluid-->
  </div>
</ion-content>
